.App {
  text-align: center;
  padding: 2rem;
}

.pageHead {
  color: #CEC7C0;
}

.cardHead {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  color: #0F1628;
}

.charImg {
  object-position: top;
}

.cardSpecs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem 1rem;
  color: #0F1628;
  text-align: start;
}

.specs {
  padding: 0.2rem;
}

.cardBody {
  background-color: #ffecb3;
  margin-top: 5rem;
}

.cd {
  display: flex;
  justify-content: space-around;
}

.swiper {
  width: 500px;
  height: 850px;
  background: none;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}